<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <meta name="description" content="Sport portal" />
</head>
<body class="layout-top-nav skin-blue">
    <div class="ui three item menu">
        <a href="#" class="item">Main</a>
        <a href="#teams" class="item">Teams</a>
        <a href="#results" class="item">Results</a>
    </div>
    <div class="$j_table-component"></div>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/app")
</html>

