<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../../Content/Jinn/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../../Content/Jinn/pagination.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../../../Content/Jinn/table.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../../../Content/Jinn/select.css" media="screen">
</head>
<body>
    <div class="js-table-component">
        <div class="js-select-container"></div>
        <div class="js-table-container"></div>
        <div class="js-paging-container"></div>
    </div>
    <!-- end js-container -->

    <script src="../../../Scripts/jquery-3.1.1.min.js"></script>
    <script src="../../../Scripts/Jinn/app/event-dispatcher.js"></script>
    <script src="../../../Scripts/Jinn/app/router.js"></script>
    <script src="../../../Scripts/Jinn/app/app-instance.js"></script>
    <script src="../../../Scripts/Jinn/components/teams/teams-model.js"></script>
    <script src="../../../Scripts/Jinn/components/teams/teams-view.js"></script>
    <script src="../../../Scripts/Jinn/components/teams/teams-init.js"></script>
    <script src="../../../Scripts/Jinn/init.js"></script>
    
</body>

</html>