<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="js-table-component">
        <div class="js-select-container"></div>
        <div class="js-table-container"></div>
        <div class="js-paging-container"></div>
    </div>
    <!-- end js-container -->
    <script src="../../../Scripts/Jinn/components/teams/teams-model.js"></script>
    <script src="../../../Scripts/Jinn/components/teams/teams-view.js"></script>
    <script src="../../../Scripts/Jinn/components/teams/teams-init.js"></script>
    
</body>

</html>