<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ProxyXml" type="JinnSports.Parser.App.MyConfigSection, JinnSports.Parser.App" />
  </configSections>
  
  <ProxyXml>
    <add path="Proxy.xml"/>
    <add path="SomeProxy.xml"/>
  </ProxyXml>
  
  <connectionStrings>
    <add name="SportsContext" connectionString="Data Source=mssql4.1gb.ua;Initial Catalog=1gb_sportwin;User Id=1gb_xyz-team;
Password=1c2c16c9xvn;Integrated Security=False" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>